/* Styling for the website. */

html {
    position: relative;
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: #cdcccb;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 50px) auto repeat(5, 50px);
    grid-template-rows: auto;
    grid-template-areas:
    ". . . . . header . . . . ."
    ". . . . . main . . . . ."
    ". . . . . footer . . . . .";
    grid-gap: 10px;
}

.item-a {
    grid-area: header;
    justify-self: stretch;
    background: #d3d2d1;
    text-align: center;
}

.item-b {
    grid-area: main;
    justify-self: center;
    vertical-align: middle;
}

.item-c {
    grid-area: footer;
    background: #c1bfbe;
}

button:hover{
    cursor: pointer;
}


a.test {
    font-weight: bold;
}
